.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
PEERS_talk/
Cortisol/CortisolMaxLifespan
Cortisol/CortisolMeanLifespan
Cortisol/CortisolMixedLifespan
Cortisol/CortisolWetCorrected
Corticosterone/CrtstnMaxLifespan
Corticosterone/CrtstnMeanLifespan
Corticosterone/CrtstnMixedLifespan
Corticosterone/CrtstnWetCorrected
FGCAnalysis/FGCUncorrected
FGCAnalysis/FGCWetCorrected
PublicationFigures/
